In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%store -r student_courses
%store -r student_majors
%store -r stem_paths
%store -r maker_passes
%store -r jacobs_ethnicities
%store -r bcdi
%store -r waivers

In [18]:
# ppsks of everyone who (in data) uses Jacobs for something
ppsks = maker_passes['ppsk']
ppsks = ppsks.append(jacobs_ethnicities['ppsk']).unique()

# all Jacobs students' academic career, either with DESINV course or MakerPass
all_jacobs = student_courses[(student_courses['ppsk'].isin(ppsks)) & (student_courses['undergrad.status'] == 'Undergraduate')]

In [4]:
jacobs_ethnicities[jacobs_ethnicities['year.name'] == '2016 Fall']['course.number'].value_counts()

198    143
15      61
10      43
190     39
22      32
21      28
Name: course.number, dtype: int64

In [17]:
all_jacobs

         year.name     ppsk  ... grade.points student.credit.hours
93     2007 Summer    31341  ...          4.0                 10.0
94     2007 Summer    33827  ...          4.0                 10.0
95     2007 Summer   169335  ...          4.0                  4.0
96     2007 Summer   194536  ...          4.0                  4.0
97     2007 Summer   198873  ...          4.0                  6.0
...            ...      ...  ...          ...                  ...
23102  2019 Summer  4271436  ...          2.7                  3.0
23103  2019 Summer  4271494  ...          4.0                  3.0
23104  2019 Summer  4271527  ...          4.0                  3.0
23105  2019 Summer  4271531  ...          4.0                  4.0
23106  2019 Summer  4271995  ...          0.0                  2.0

[5597609 rows x 17 columns]

In [14]:
all_jacobs = all_jacobs.groupby(['ppsk','year.name']).filter(lambda x: (x['course.subject'].isin(['Design Innovation']).any())) 
#single_students = all_jacobs.groupby('ppsk')

KeyboardInterrupt:

In [8]:
#get ppsks of students from jacobs and find other classes they take
# how many units students take
#all_jacobs = student_courses
all_jacobs

         year.name     ppsk  ... grade.points student.credit.hours
93     2007 Summer    31341  ...          4.0                 10.0
94     2007 Summer    33827  ...          4.0                 10.0
95     2007 Summer   169335  ...          4.0                  4.0
96     2007 Summer   194536  ...          4.0                  4.0
97     2007 Summer   198873  ...          4.0                  6.0
...            ...      ...  ...          ...                  ...
23102  2019 Summer  4271436  ...          2.7                  3.0
23103  2019 Summer  4271494  ...          4.0                  3.0
23104  2019 Summer  4271527  ...          4.0                  3.0
23105  2019 Summer  4271531  ...          4.0                  4.0
23106  2019 Summer  4271995  ...          0.0                  2.0

[5597609 rows x 17 columns]