In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
%store -r student_courses
%store -r student_majors
%store -r stem_paths
%store -r maker_passes
%store -r jacobs

In [26]:
majors

['/content/drive/MyDrive/Colab Notebooks/data/uc.berkeley.student.majors.2007to2017.csv',
 '/content/drive/MyDrive/Colab Notebooks/data/uc.berkeley.student.majors.2018.csv',
 '/content/drive/MyDrive/Colab Notebooks/data/uc.berkeley.student.majors.2020.csv',
 '/content/drive/MyDrive/Colab Notebooks/data/uc.berkeley.student.majors.2019.csv']

In [34]:
student_majors = pd.DataFrame()
for i in majors:
    student_majors = student_majors.append(pd.read_csv(i))

In [36]:
student_majors.query('ppsk == 6417')

   ppsk undergrad.status  ...              major  exam.units
0  6417                U  ...  Political Science         0.0
1  6417                U  ...  Political Science         0.0

[2 rows x 10 columns]

In [6]:
jacobs['ppsk']

9995     1474600
12946    2631969
15727     723198
16929     917618
18297    1025236
          ...
21309    4262284
21441    4262621
22125    4264306
22572    4265873
22697    4266391
Name: ppsk, Length: 2255, dtype: int64

In [7]:
#temp = student_courses[student_courses['year.name'].str.split(" ", expand=True)[0].astype(int) >= 2015]

In [8]:
ppsks = maker_passes['ppsk']
ppsks = ppsks.append(jacobs['ppsk']).unique()

In [9]:
#get ppsks of students from jacobs and find other classes they take
#all_jacobs = student_courses

In [10]:
jacobs

         year.name     ppsk  ... grade.points student.credit.hours
9995     2015 Fall  1474600  ...          4.0                  2.0
12946    2015 Fall  2631969  ...          4.0                  2.0
15727  2015 Spring   723198  ...          4.0                  2.0
16929  2015 Spring   917618  ...          4.0                  2.0
18297  2015 Spring  1025236  ...          4.0                  2.0
...            ...      ...  ...          ...                  ...
21309  2019 Summer  4262284  ...          3.7                  2.0
21441  2019 Summer  4262621  ...          3.7                  2.0
22125  2019 Summer  4264306  ...          4.0                  3.0
22572  2019 Summer  4265873  ...          3.0                  2.0
22697  2019 Summer  4266391  ...          3.0                  3.0

[2255 rows x 16 columns]

In [11]:
jacobs_ethnicities = jacobs.merge(stem_paths[['ppsk', 'ethnic.l1']], on='ppsk', how='left')
jacobs_ethnicities['ethnic.l1'].fillna('Unknown', inplace=True)

In [12]:
jacobs_ethnicities['year'] = jacobs_ethnicities['year.name'].str.split(" ", expand=True)[0]
jacobs_ethnicities = jacobs_ethnicities.rename({'ethnic.l1': "Ethnicity"}, axis=1)
jacobs_ethnicities

        year.name     ppsk  ...                  Ethnicity  year
0       2015 Fall  1474600  ...              International  2015
1       2015 Fall  2631969  ...     Asian/Pacific Islander  2015
2     2015 Spring   723198  ...                    Unknown  2015
3     2015 Spring   917618  ...  Underrepresented Minority  2015
4     2015 Spring  1025236  ...                    Unknown  2015
...           ...      ...  ...                        ...   ...
2250  2019 Summer  4262284  ...                    Unknown  2019
2251  2019 Summer  4262621  ...                    Unknown  2019
2252  2019 Summer  4264306  ...                    Unknown  2019
2253  2019 Summer  4265873  ...                    Unknown  2019
2254  2019 Summer  4266391  ...                    Unknown  2019

[2255 rows x 18 columns]