In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%store -r student_courses
%store -r student_majors
%store -r stem_paths
%store -r maker_passes
%store -r jacobs

In [3]:
student_majors.query('ppsk == 6417')

   ppsk undergrad.status  ...              major exam.units
0  6417                U  ...  Political Science        0.0
1  6417                U  ...  Political Science        0.0

[2 rows x 10 columns]

In [10]:
jacobs['ppsk']

9995     1474600
12946    2631969
15727     723198
16929     917618
18297    1025236
          ...
21309    4262284
21441    4262621
22125    4264306
22572    4265873
22697    4266391
Name: ppsk, Length: 2255, dtype: int64

In [5]:
#temp = student_courses[student_courses['year.name'].str.split(" ", expand=True)[0].astype(int) >= 2015]

In [6]:
# ppsks of everyone who (in data) uses Jacobs for something
ppsks = maker_passes['ppsk']
ppsks = ppsks.append(jacobs['ppsk']).unique()

# all Jacobs students' academic career, either with DESINV course or MakerPass
all_jacobs = student_courses[(student_courses['ppsk'].isin(ppsks)) & (student_courses['undergrad.status'] == 'Undergraduate')]

In [7]:
#test = all_jacobs.groupby(['ppsk','year.name']).filter(lambda x: (x['course.subject'].isin(['Design Innovation']).any()) & (~x['student.credit.hours'].isna().any()))
#graph_data = test.groupby(['ppsk','year.name'])[['student.credit.hours']].sum()

In [26]:
all_jacobs

         year.name     ppsk  ... grade.points student.credit.hours
3183     2007 Fall   724096  ...          4.0                  4.0
3184     2007 Fall   724096  ...          4.0                  3.0
3185     2007 Fall   724096  ...          4.0                  3.0
4065     2007 Fall   765357  ...          4.0                  1.0
8987   2007 Summer   713359  ...          4.0                  4.0
...            ...      ...  ...          ...                  ...
22126  2019 Summer  4264306  ...          4.0                  4.0
22531  2019 Summer  4265730  ...          4.0                  4.0
22572  2019 Summer  4265873  ...          3.0                  2.0
22573  2019 Summer  4265873  ...          4.0                  4.0
22697  2019 Summer  4266391  ...          3.0                  3.0

[339284 rows x 17 columns]

In [49]:
student_majors

         ppsk undergrad.status  ...                    major  exam.units
0      193666                U  ...                  Physics         NaN
1      244810                U  ...                  History         NaN
2      392960                U  ...                Economics         NaN
3      384263                U  ...                  History         NaN
4      373868                U  ...         American Studies         NaN
...       ...              ...  ...                      ...         ...
65494  651209                U  ...      Mass Communications        10.7
65495  651209                U  ...  Business Administration        10.7
65496  651209                U  ...      Mass Communications        10.7
65497  651209                U  ...  Business Administration        10.7
65498  651215                U  ...      Applied Mathematics         5.4

[226374 rows x 9 columns]

In [15]:
all_jacobs.groupby(['ppsk','year.name']).filter(lambda x: (x['course.subject'].isin(['Design Innovation']).any()) 
single_students = all_jacobs.groupby('ppsk')

SyntaxError: invalid syntax (<ipython-input-15-dbc2242fb19f>, line 2)

In [9]:
test.query('ppsk == 1029128')

NameError: name 'test' is not defined

In [37]:
test.query('ppsk == 1029128')['student.credit.hours'].sum()

9.5

In [11]:
#get ppsks of students from jacobs and find other classes they take
# how many units students take
all_jacobs = student_courses

In [12]:
jacobs

         year.name     ppsk  ... grade.points student.credit.hours
9995     2015 Fall  1474600  ...          4.0                  2.0
12946    2015 Fall  2631969  ...          4.0                  2.0
15727  2015 Spring   723198  ...          4.0                  2.0
16929  2015 Spring   917618  ...          4.0                  2.0
18297  2015 Spring  1025236  ...          4.0                  2.0
...            ...      ...  ...          ...                  ...
21309  2019 Summer  4262284  ...          3.7                  2.0
21441  2019 Summer  4262621  ...          3.7                  2.0
22125  2019 Summer  4264306  ...          4.0                  3.0
22572  2019 Summer  4265873  ...          3.0                  2.0
22697  2019 Summer  4266391  ...          3.0                  3.0

[2255 rows x 16 columns]

In [13]:
jacobs_ethnicities = jacobs.merge(stem_paths[['ppsk', 'ethnic.l1']], on='ppsk', how='left')
jacobs_ethnicities['ethnic.l1'].fillna('Unknown', inplace=True)

In [14]:
jacobs_ethnicities['year'] = jacobs_ethnicities['year.name'].str.split(" ", expand=True)[0]
jacobs_ethnicities = jacobs_ethnicities.rename({'ethnic.l1': "Ethnicity"}, axis=1)
#jacobs_ethnicities

        year.name     ppsk  ...                  Ethnicity  year
0       2015 Fall  1474600  ...              International  2015
1       2015 Fall  2631969  ...     Asian/Pacific Islander  2015
2     2015 Spring   723198  ...                    Unknown  2015
3     2015 Spring   917618  ...  Underrepresented Minority  2015
4     2015 Spring  1025236  ...                    Unknown  2015
...           ...      ...  ...                        ...   ...
2250  2019 Summer  4262284  ...                    Unknown  2019
2251  2019 Summer  4262621  ...                    Unknown  2019
2252  2019 Summer  4264306  ...                    Unknown  2019
2253  2019 Summer  4265873  ...                    Unknown  2019
2254  2019 Summer  4266391  ...                    Unknown  2019

[2255 rows x 18 columns]