In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import glob

In [2]:
#if you upload a unzip file to JupyterLab
#import zipfile as zf
#files = zf.ZipFile("/home/jovyan/data.zip", 'r')
#files.extractall('/home/jovyan/')
#files.close()

In [3]:
df = pd.DataFrame()
files = glob.glob("data/*")
course_data = glob.glob("data/uc.berkeley.student.course.data.*.txt")
majors = glob.glob("data/uc.berkeley.student.majors.*.txt")
pathways = glob.glob("data/uc.berkeley.stem.*.txt")

In [4]:
course_data

['data/uc.berkeley.student.course.data.2012.txt',
 'data/uc.berkeley.student.course.data.2007.txt',
 'data/uc.berkeley.student.course.data.2013.txt',
 'data/uc.berkeley.student.course.data.2020.summer.txt',
 'data/uc.berkeley.student.course.data.2011.txt',
 'data/uc.berkeley.student.course.data.2010.txt',
 'data/uc.berkeley.student.course.data.2014.txt',
 'data/uc.berkeley.student.course.data.2015.txt',
 'data/uc.berkeley.student.course.data.2017.txt',
 'data/uc.berkeley.student.course.data.2016.txt',
 'data/uc.berkeley.student.course.data.2018.spring.txt',
 'data/uc.berkeley.student.course.data.2018.summer.txt',
 'data/uc.berkeley.student.course.data.2020.spring.txt',
 'data/uc.berkeley.student.course.data.2019.spring.txt',
 'data/uc.berkeley.student.course.data.2020.fall.txt',
 'data/uc.berkeley.student.course.data.2018.fall.txt',
 'data/uc.berkeley.student.course.data.2019.fall.txt',
 'data/uc.berkeley.student.course.data.2009.txt',
 'data/uc.berkeley.student.course.data.2008.txt',
 'data/uc.berkeley.student.course.data.2019.summer.txt']

In [5]:
course_data.sort()
student_courses = pd.DataFrame()
for f in course_data:
    student_courses = student_courses.append(pd.read_table(f))

/Users/paulterrell-perica/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/paulterrell-perica/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
course_data

['data/uc.berkeley.student.course.data.2007.txt',
 'data/uc.berkeley.student.course.data.2008.txt',
 'data/uc.berkeley.student.course.data.2009.txt',
 'data/uc.berkeley.student.course.data.2010.txt',
 'data/uc.berkeley.student.course.data.2011.txt',
 'data/uc.berkeley.student.course.data.2012.txt',
 'data/uc.berkeley.student.course.data.2013.txt',
 'data/uc.berkeley.student.course.data.2014.txt',
 'data/uc.berkeley.student.course.data.2015.txt',
 'data/uc.berkeley.student.course.data.2016.txt',
 'data/uc.berkeley.student.course.data.2017.txt',
 'data/uc.berkeley.student.course.data.2018.fall.txt',
 'data/uc.berkeley.student.course.data.2018.spring.txt',
 'data/uc.berkeley.student.course.data.2018.summer.txt',
 'data/uc.berkeley.student.course.data.2019.fall.txt',
 'data/uc.berkeley.student.course.data.2019.spring.txt',
 'data/uc.berkeley.student.course.data.2019.summer.txt',
 'data/uc.berkeley.student.course.data.2020.fall.txt',
 'data/uc.berkeley.student.course.data.2020.spring.txt',
 'data/uc.berkeley.student.course.data.2020.summer.txt']

In [7]:
student_courses

,year.name,ppsk,undergrad.status,course.department,course.subject,course.number,offering.type,section.number,ccn,room.share,...,Section Nbr,Course Control Nbr,Room Share Bundle Nbr,Course Title Nm,Instr Name Concat,Grade Subtype Desc,Grade Type Desc,Grade Nm,Grade Points Nbr,Student Credit Hrs Nbr
0,2007 Summer,-1.0,Graduate,Anthropology,Anthropology,3AC,Primary,1,12030,12030.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007 Summer,-1.0,Graduate,Anthropology,Anthropology,136B,Primary,1,12120,12120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007 Summer,-1.0,Graduate,Buddhist Studies Grad Grp,Buddhist Studies,C50,Primary,1,18905,200018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007 Summer,-1.0,Graduate,Business,Business Admin-Undergrad,102A,Primary,5,20150,20150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007 Summer,-1.0,Graduate,Business,Business Admin-Undergrad,106,Primary,4,20235,20235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,12435.0,12435.0,Indust/Organ Psych,Christian Wright,A,Letter Grade,A,4.0,6.0
26610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,15447.0,15447.0,Topics Pol Theory,Daniel Lee; Jacob Liming,B,Letter Grade,B,3.0,8.0
26611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,13087.0,13087.0,Globl Mental Health,Heng-hsian Liu,A,Letter Grade,A,4.0,6.0
26612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,12036.0,12036.0,Esl Test Prep,David Wiese; Margi Wald; Mona Khabiri,A,Letter Grade,A,4.0,4.0
26613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,12626.0,12626.0,Mind-Body & Health,Ephrem Fernandez,F,Letter Grade,F,0.0,3.0

In [39]:
# minor data cleaning
student_courses = student_courses[~student_courses['ppsk'].isnull()]
student_courses = student_courses[student_courses['ppsk'] != -1]
for i in student_courses.columns:
    if student_courses[i].isnull().all():
        student_courses.drop(i,axis=1,inplace=True)

In [36]:
maker_passes = student_courses[student_courses["course.department"] == "Design Innovation"]['ppsk'].unique()

In [37]:
print(np.sort(student_courses['course.department'].unique()))

['-' 'African American Studies' 'Ag & Env Chem Grad Grp'
 'Ag & Resource Econ & Pol' 'Anc Hist Med Arc Grad Grp' 'Anthropology'
 'Applied Sci & Tech Grad Grp' 'Architecture' 'Art Practice' 'Astronomy'
 'Bioengineering' 'Biophysics Grad Grp' 'Buddhist Studies Grad Grp'
 'Business' 'Chem & Biomolecular Eng' 'Chemistry'
 'City & Regional Planning' 'Civil & Environmental Eng' 'Classics'
 'College Writing Programs' 'Comparative Biochem Grad Grp'
 'Comparative Literature' 'Computational Biology Grad Grp'
 'Critical Theory Grad Grp' 'Data Science' 'Demography'
 'Design Innovation' 'Development Eng Grad Grp'
 'Development Practice Grad Grp' 'Earth & Planetary Science'
 'East Asian Lang & Culture' 'Economics' 'Education'
 'Electrical Eng & Computer Sci' 'Energy & Resources Grad Grp'
 'Engineering Science' 'English' 'Env Sci, Policy, & Mgmt'
 'Ethnic Studies' 'European Studies Grad Grp'
 'FPF-African American Studies' 'FPF-Anthropology' 'FPF-Art Practice'
 'FPF-Astronomy' 'FPF-Chemistry' 'FPF-Classics'
 'FPF-College Writing Program' 'FPF-Comparative Literature'
 'FPF-Earth & Planetary Science' 'FPF-English'
 'FPF-Env Sci, Policy, & Mgmt' 'FPF-Ethnic Studies' 'FPF-Film & Media'
 'FPF-Gender & Womens Studies' 'FPF-Geography' 'FPF-History'
 'FPF-History of Art' 'FPF-IAS Teaching Program' 'FPF-Integrative Biology'
 'FPF-Interdisc Social Sci Pgms' 'FPF-Legal Studies'
 'FPF-Letters & Science' 'FPF-Linguistics' 'FPF-Mathematics'
 'FPF-Molecular & Cell Biology' 'FPF-Music' 'FPF-Philosophy'
 'FPF-Political Science' 'FPF-Psychology' 'FPF-Rhetoric' 'FPF-Sociology'
 'FPF-Statistics' 'Film and Media' 'Folklore Grad Grp' 'French'
 'Gender & Womens Studies' 'Geography' 'German'
 'Global Metro Std Grad Grp' 'Health & Medical Sci Grad Grp' 'History'
 'History of Art' 'Industrial Eng & Ops Research' 'Information'
 'Integrative Biology' 'Interdisc Social Science Pgms' 'Italian Studies'
 'Jewish Studies Program' 'Journalism' 'Landscape Arch & Env Plan' 'Law'
 'Linguistics' 'Materials Science & Eng' 'Mathematics'
 'Mechanical Engineering' 'Medieval Studies Program'
 'Military Affairs Program' 'Molecular & Cell Biology' 'Music'
 'Nano Sci & Eng Grad Grp' 'Near Eastern Studies'
 'Neuroscience Graduate Program' 'New Media Grad Grp'
 'Nuclear Engineering' 'Nutritional Sciences & Tox' 'Optometry'
 'Other Arts & Humanities Pgms' 'Other Bio Sciences Pgms'
 'Other Clg of Natural Res Pgms' 'Other EVCP Programs' 'Philosophy'
 'Physical Education' 'Physics' 'Plant & Microbial Biology'
 'Political Science' 'Psychology' 'Public Health' 'Public Policy'
 'Rhetoric' 'Scandinavian' 'Sci & Tech Stds Grad Grp'
 'Science & Math Educ Grad Grp' 'Slavic Languages & Literatures'
 'Social Welfare' 'Sociology' 'South & SE Asian Studies'
 'Spanish & Portuguese' 'Statistics' 'Theater Dance & Perf Stds'
 'UG Interdisciplinary Studies' 'Vision Science Grad Grp']

In [38]:
maker_passes = pd.Series(maker_passes)
student_passes = student_courses[student_courses['ppsk'].isin(maker_passes)]

In [43]:
student_courses[student_courses[['grade.subtype', 'grade.type', 'grade.name']]['grade.type'] == 'Non-Letter Grade']['grade.name'].unique()

array(['High Honors', 'Honors', 'Pass', 'Pass Conditional', 'Credit',
       'Satisfactory', 'No Credit', 'Not Pass', 'Unsatisfactory'],
      dtype=object)

In [44]:
student_courses[student_courses['grade.name']< 'D']

,year.name,ppsk,undergrad.status,course.department,course.subject,course.number,offering.type,section.number,ccn,room.share,...,Section Nbr,Course Control Nbr,Room Share Bundle Nbr,Course Title Nm,Instr Name Concat,Grade Subtype Desc,Grade Type Desc,Grade Nm,Grade Points Nbr,Student Credit Hrs Nbr
93,2007 Summer,31341.0,Graduate,Near Eastern Studies,Persian,20,Primary,1,70310,70310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,2007 Summer,33827.0,Graduate,German,German,10,Primary,1,48655,48655.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2007 Summer,169335.0,Graduate,Near Eastern Studies,Near Eastern Studies,290A,Independent Study,3,66140,66140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2007 Summer,194536.0,Graduate,Ethnic Studies,Ethnic Studies,135AC,Primary,2,45245,45245.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2007 Summer,198873.0,Undergraduate,Near Eastern Studies,Hebrew,N106,Primary,1,50010,50010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23099,2019 Summer,4270528.0,Undergraduate,Sociology,Sociology,140,Primary,1,14004,14004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23102,2019 Summer,4271436.0,Undergraduate,Nutritional Sciences & Tox,Nutritional Science & Tox,10,Primary,2,14561,14561.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23103,2019 Summer,4271494.0,Undergraduate,Psychology,Psychology,166AC,Primary,1,14105,14105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23104,2019 Summer,4271527.0,Undergraduate,Theater Dance & Perf Stds,Theater Dance & Perf Stds,10,Primary,1,14043,14043.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23105,2019 Summer,4271531.0,Undergraduate,Interdisc Social Science Pgms,Global Studies,154M,Primary,3,15353,15353.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
len(student_courses['ppsk'].unique())

224186