In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
%store -r student_courses
%store -r student_majors
%store -r stem_paths
%store -r maker_passes
%store -r jacobs_ethnicities
%store -r bcdi
%store -r waivers

In [13]:
# ppsks of everyone who (in data) uses Jacobs for something
ppsks = maker_passes['ppsk']
ppsks = ppsks.append(jacobs_ethnicities['ppsk']).unique()

# all Jacobs students' academic career, either with DESINV course or MakerPass
all_jacobs = student_courses[student_courses['ppsk'].isin(ppsks)]

In [14]:
jacobs_ethnicities[jacobs_ethnicities['year.name'] == '2016 Fall'][['course.number','section.number']].value_counts()

course.number  section.number
198            2                 121
15             1                  61
10             1                  43
22             1                  32
21             1                  28
198            1                  22
190            1                  16
               3                  14
               2                   9
dtype: int64

In [43]:
maker_passes['year'] = maker_passes['year'].astype(int)#.groupby(['year','term']).count()
maker_passes['term'] = maker_passes['term'].astype(str)
maker_passes['ppsk'] = maker_passes['ppsk'].astype(int)

In [45]:
maker_passes.groupby(['year','term']).count()[['DES INV Students']].sum(axis=1)

year  term
2015  Fall       735
2016  Fall      1348
      Spring     964
2017  Fall      1307
      Spring    1407
2018  Fall      1206
      Spring    1368
2019  Fall      1463
      Spring    1569
2020  Fall       754
      Spring    1697
dtype: int64

In [56]:
checking = maker_passes.merge(student_courses, on='ppsk', how='left')

In [52]:
checking['DES INV Students'] = checking['DES INV Students'].astype(str)

In [57]:
checking[checking['DES INV Students'] == 'Y']

           ppsk  year  term  ... grade.name grade.points student.credit.hours
0        724096  2015  Fall  ...         A+          4.0                  4.0
1        724096  2015  Fall  ...         A+          4.0                  3.0
2        724096  2015  Fall  ...         A+          4.0                  3.0
3        724096  2015  Fall  ...          A          4.0                  3.0
4        724096  2015  Fall  ...         A-          3.7                  2.0
...         ...   ...   ...  ...        ...          ...                  ...
552379  4348181  2020  Fall  ...        NaN          NaN                  NaN
552404  4356250  2020  Fall  ...        NaN          NaN                  NaN
552406  4357716  2020  Fall  ...        NaN          NaN                  NaN
552415  4362319  2020  Fall  ...        NaN          NaN                  NaN
552423  4478634  2020  Fall  ...        NaN          NaN                  NaN

[65899 rows x 22 columns]

In [18]:
all_jacobs

         year.name     ppsk  ... grade.points student.credit.hours
181    2015 Spring   723198  ...          4.0                  6.0
182    2015 Spring   723198  ...          4.0                  3.0
834    2015 Spring  1029128  ...          4.0                  3.0
1159   2015 Spring  1031223  ...          4.0                  4.0
1163   2015 Spring  1031253  ...          4.0                  3.0
...            ...      ...  ...          ...                  ...
22125  2019 Summer  4264306  ...          4.0                  3.0
22126  2019 Summer  4264306  ...          4.0                  4.0
22572  2019 Summer  4265873  ...          3.0                  2.0
22573  2019 Summer  4265873  ...          4.0                  4.0
22697  2019 Summer  4266391  ...          3.0                  3.0

[12520 rows x 17 columns]

In [16]:
all_jacobs = all_jacobs.groupby(['ppsk','year.name']).filter(lambda x: (x['course.subject'].isin(['Design Innovation']).any())) 
#single_students = all_jacobs.groupby('ppsk')

In [17]:
#get ppsks of students from jacobs and find other classes they take
# how many units students take
#all_jacobs = student_courses
all_jacobs

         year.name     ppsk  ... grade.points student.credit.hours
181    2015 Spring   723198  ...          4.0                  6.0
182    2015 Spring   723198  ...          4.0                  3.0
834    2015 Spring  1029128  ...          4.0                  3.0
1159   2015 Spring  1031223  ...          4.0                  4.0
1163   2015 Spring  1031253  ...          4.0                  3.0
...            ...      ...  ...          ...                  ...
22125  2019 Summer  4264306  ...          4.0                  3.0
22126  2019 Summer  4264306  ...          4.0                  4.0
22572  2019 Summer  4265873  ...          3.0                  2.0
22573  2019 Summer  4265873  ...          4.0                  4.0
22697  2019 Summer  4266391  ...          3.0                  3.0

[12520 rows x 17 columns]