In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import glob

In [3]:
#majors2020 = pd.read_table("data/uc.berkeley.student.majors.2020.txt")
df = pd.DataFrame()
files = glob.glob("data/*.txt")
course_data = glob.glob("data/uc.berkeley.student.course.data.*.txt")
majors = glob.glob("data/uc.berkeley.student.majors.*.txt")
pathways = glob.glob("data/uc.berkeley.stem.*.txt")

In [4]:
# putting course data in one variable which might 
# DS
course_data.sort()
student_courses = pd.DataFrame()
for f in course_data:
    student_courses = student_courses.append(pd.read_table(f))

/Users/paulterrell-perica/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/paulterrell-perica/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# minor data cleaning
student_courses = student_courses[~student_courses['ppsk'].isnull()]
student_courses = student_courses
student_courses = student_courses[student_courses['ppsk'] != -1]

KeyboardInterrupt:

In [6]:
maker_passes = student_courses[student_courses["course.department"] == "Design Innovation"]['ppsk'].unique()

In [7]:
print(np.sort(student_courses['course.department'].unique()))

['-' 'African American Studies' 'Ag & Env Chem Grad Grp'
 'Ag & Resource Econ & Pol' 'Anc Hist Med Arc Grad Grp' 'Anthropology'
 'Applied Sci & Tech Grad Grp' 'Architecture' 'Art Practice' 'Astronomy'
 'Bioengineering' 'Biophysics Grad Grp' 'Buddhist Studies Grad Grp'
 'Business' 'Chem & Biomolecular Eng' 'Chemistry'
 'City & Regional Planning' 'Civil & Environmental Eng' 'Classics'
 'College Writing Programs' 'Comparative Biochem Grad Grp'
 'Comparative Literature' 'Computational Biology Grad Grp'
 'Critical Theory Grad Grp' 'Data Science' 'Demography'
 'Design Innovation' 'Development Eng Grad Grp'
 'Development Practice Grad Grp' 'Earth & Planetary Science'
 'East Asian Lang & Culture' 'Economics' 'Education'
 'Electrical Eng & Computer Sci' 'Energy & Resources Grad Grp'
 'Engineering Science' 'English' 'Env Sci, Policy, & Mgmt'
 'Ethnic Studies' 'European Studies Grad Grp'
 'FPF-African American Studies' 'FPF-Anthropology' 'FPF-Art Practice'
 'FPF-Astronomy' 'FPF-Chemistry' 'FPF-Classics'
 'FPF-College Writing Program' 'FPF-Comparative Literature'
 'FPF-Earth & Planetary Science' 'FPF-English'
 'FPF-Env Sci, Policy, & Mgmt' 'FPF-Ethnic Studies' 'FPF-Film & Media'
 'FPF-Gender & Womens Studies' 'FPF-Geography' 'FPF-History'
 'FPF-History of Art' 'FPF-IAS Teaching Program' 'FPF-Integrative Biology'
 'FPF-Interdisc Social Sci Pgms' 'FPF-Legal Studies'
 'FPF-Letters & Science' 'FPF-Linguistics' 'FPF-Mathematics'
 'FPF-Molecular & Cell Biology' 'FPF-Music' 'FPF-Philosophy'
 'FPF-Political Science' 'FPF-Psychology' 'FPF-Rhetoric' 'FPF-Sociology'
 'FPF-Statistics' 'Film and Media' 'Folklore Grad Grp' 'French'
 'Gender & Womens Studies' 'Geography' 'German'
 'Global Metro Std Grad Grp' 'Health & Medical Sci Grad Grp' 'History'
 'History of Art' 'Industrial Eng & Ops Research' 'Information'
 'Integrative Biology' 'Interdisc Social Science Pgms' 'Italian Studies'
 'Jewish Studies Program' 'Journalism' 'Landscape Arch & Env Plan' 'Law'
 'Linguistics' 'Materials Science & Eng' 'Mathematics'
 'Mechanical Engineering' 'Medieval Studies Program'
 'Military Affairs Program' 'Molecular & Cell Biology' 'Music'
 'Nano Sci & Eng Grad Grp' 'Near Eastern Studies'
 'Neuroscience Graduate Program' 'New Media Grad Grp'
 'Nuclear Engineering' 'Nutritional Sciences & Tox' 'Optometry'
 'Other Arts & Humanities Pgms' 'Other Bio Sciences Pgms'
 'Other Clg of Natural Res Pgms' 'Other EVCP Programs' 'Philosophy'
 'Physical Education' 'Physics' 'Plant & Microbial Biology'
 'Political Science' 'Psychology' 'Public Health' 'Public Policy'
 'Rhetoric' 'Scandinavian' 'Sci & Tech Stds Grad Grp'
 'Science & Math Educ Grad Grp' 'Slavic Languages & Literatures'
 'Social Welfare' 'Sociology' 'South & SE Asian Studies'
 'Spanish & Portuguese' 'Statistics' 'Theater Dance & Perf Stds'
 'UG Interdisciplinary Studies' 'Vision Science Grad Grp']

In [8]:
maker_passes = pd.Series(maker_passes)
student_passes = student_courses[student_courses['ppsk'].isin(maker_passes)]

In [17]:
student_passes

NameError: name 'student_passes' is not defined

In [10]:
student_courses[student_courses[['grade.subtype', 'grade.type', 'grade.name']]['grade.type'] == 'Non-Letter Grade']['grade.name'].unique()

array(['High Honors', 'Honors', 'Pass', 'Pass Conditional', 'Credit',
       'Satisfactory', 'No Credit', 'Not Pass', 'Unsatisfactory'],
      dtype=object)

In [11]:
student_courses[student_courses[['grade.subtype', 'grade.type', 'grade.name']] < 'D']

,year.name,ppsk,undergrad.status,course.department,course.subject,course.number,offering.type,section.number,ccn,room.share,...,Section Nbr,Course Control Nbr,Room Share Bundle Nbr,Course Title Nm,Instr Name Concat,Grade Subtype Desc,Grade Type Desc,Grade Nm,Grade Points Nbr,Student Credit Hrs Nbr
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
len(student_courses['ppsk'].unique())

NameError: name 'student_courses' is not defined